<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.caddy</string>

    <key>RunAtLoad</key>
    <true/>

    <key>WorkingDirectory</key>
    <string><WORKING_DIR_PATH></string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/caddy</string>
      <string>run</string>
      <string>--config</string>
      <string>Caddyfile</string>
    </array>

  </dict>
</plist>